.App {  
  text-align: center;  
  padding: 20px;  
  background-color: #f83235;  
  color: white;
  font-family: sans-serif;  
}  

ul {  
  list-style-type: none;  
  padding: 0;  
}  

li {  
  margin: 10px 0;  
  font-size: 18px;  
}  